spring:
  profiles:
    include: 
      - secret
    active: dev
  application:
    name: aicc
  
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true
