spring:
  profiles:
    include: 
      - secret
    active: dev
  application:
    name: aicc

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
server:
  tomcat:
    max-swallow-size: 100MB